<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>RiskInDroid</title>

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
        <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/smoothness/jquery-ui.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>

        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

        <link href='//fonts.googleapis.com/css?family=Droid Sans Mono' rel='stylesheet'>

        <script type="text/javascript" src="{{ url_for('static', filename='filestyle.min.js') }}"></script>
        <link rel="stylesheet" href="{{ url_for('static', filename='site.css') }}">
    </head>

    <body>
        <div class="container">
            <div class="row" style="position: relative;">
                <h1 align="center" style="margin-top: 100px; margin-bottom: 50px;">RiskInDroid</h1>
                <div class="col-sm-6 text-center">
                    <h3>Try it yourself</h3>
                    <form enctype="multipart/form-data" method="POST" action="{{ url_for('upload_apk') }}" role="form">
                        <div class="row">
                            <label class="col-xs-12">(Max. file size: 10 MB)</label>
                        </div>
                        <div class="row">
                            <div class="col-xs-10 col-xs-offset-1 text-center">
                                <input type="file" name="file" class="filestyle" data-buttonText="Choose app"
                                   data-buttonName="btn-primary" data-icon="false" data-placeholder="No app selected">
                            </div>
                        </div>
                        <div style="height: 8px;"></div>
                        <div class="row">
                            <div class="col-xs-12 text-center">
                                <button type="submit" class="btn btn-success">
                                    <span class="glyphicon glyphicon-cloud-upload" aria-hidden="true"></span> Submit app
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="visible-xs" style="height: 50px;"></div>
                <div class="col-sm-6 text-center">
                    <h3>Browse the experimental results of RiskInDroid</h3>
                    <a href="{{ url_for('results') }}" class="btn btn-success" style="margin: 0 auto;">
                        <span class="glyphicon glyphicon-cloud-download" aria-hidden="true"></span> See results
                    </a>
                </div>
            </div>
            <div class="row">
                <h5 align="center" style="margin-top: 120px;">Source code is available at: <a href="https://github.com/ClaudiuGeorgiu/RiskInDroid">https://github.com/ClaudiuGeorgiu/RiskInDroid</a></h5>
            </div>
        </div>
    </body>
</html>
